.container {
  flex-shrink: 0;

  width: 500px;
  overflow-wrap: break-word;
  overflow-y: auto;

  border: 1px solid lightgray;
  border-radius: 4px;

  display: flex;
  align-items: stretch;
  flex-direction: column;

  resize: horizontal;

  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.header {
  color: rgb(106, 103, 160);
  background: rgb(204, 201, 255);
  background: linear-gradient(90deg, rgba(204, 201, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);

  font-size: 0.6rem;
  display: flex;
  align-items: stretch;
  padding: 0 6px;

  button {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;

    &:hover {
      background-color: rgba(0, 0, 0, 0.25);
    }

    &.closeButton:hover {
      background-color: red;
      color: white;
    }
  }

  span {
    padding: 6px;
  }
}

.footer {
  padding: 2px 12px;
  font-size: 0.6rem;
  align-self: flex-start;

  // For the resize handle
  // TODO: Make the entire right side resize and then remove this
  width: calc(100% - 20px);
  // border: 1px solid red;
  // box-sizing: border-box;
}

.body {
  flex-grow: 1;

  // padding: 12px;

  display: flex;
  flex-direction: column;
}